<p>
  <strong>Autor:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comentario:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Remover comentario', [comment.article, comment], method: :delete, data: { confirm: 'Tem certeza?' } %>
</p>